@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=devanagari,latin-ext');
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    color: #303030;
}

#myBtn {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 90px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.5;
}

#myBtn:hover {
    border: 2px solid black;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    height: 28px;
}

a {
    text-decoration: none;
    color: #303030;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 150px;
    padding: 20px;
}

header p {
    flex: 9;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    text-align: left;
}

header div {
    flex: 1;
}

div.social {
    display: flex;
    justify-content: space-around;
}

.social>a {
    width: 20px;
    height: 20px;
}

.social img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.hero {
    text-align: center;
    margin: 0 auto 100px;
}

.hero h1 {
    font-size: 68px;
    font-family: 'Libre Baskerville', serif;
}

.hero p {
    font-size: 18px;
    line-height: 30px;
}

.row {
    display: flex;
}

.row figure {
    height: 400px;
    flex: 1;
    border: 5px solid #FFFFFF;
    margin: 25px 0 25px 0;
}

.row div {
    flex: 1;
    text-align: left;
}

.intro {
    margin: 25px 0 25px 35px;
}

.intro h2 {
    text-align: left;
    font-size: 20px;
}

.intro .date {
    font-size: 12px;
    color: #000000;
}

.intro .rest {
    text-decoration: underline;
}

footer .seperator {
    height: 120px;
    opacity: 0.1;
    border-bottom: 2px solid #303030;
}

footer .info {
    display: flex;
    font-size: 12px;
    margin: 30px auto;
}

.info p {
    flex: 1;
}

.info .copyright {
    text-align: left;
}

.info .mail {
    text-align: right;
}

.bloglist {}

.container figure {
    height: 480px;
}

.container span {
    text-align: center;
}

.text {
    width: 450px;
    margin: 0 auto;
}

.text a {
    color: #277251;
}

.text h3 {
    text-align: justify;
    font-style: italic;
    font-weight: 450;
}